.navbar-custom {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
  }
  
  /* Style des liens dans la barre de navigation */
  .nav-link {
    color: #fff; 
    margin-right: 20px; 
    font-size: 16px; 
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  

  .nav-link:hover {
    color: #ff0; 
  }